$text: #353434;
// $text-color:  #4a4a4a;
// $bg-color: #F9F6E5;
// $default-color: #9b9b9b;


%rubic-700{
    font-family: 'Rubic';
    font-weight: 700;
}
%rubic-900{
    font-family: 'Rubic';
    font-weight: 700;
}
// %dosis-400{
//     font-family: 'Dosis-Regular';
//     font-weight: 400;
// }

// %dosis-500{
//     font-family: 'Dosis-Medium';
//     font-weight: 500;
// }

// %roboto-500{
//     font-family: 'Roboto-Medium';
//     font-weight: 500;
// }

// %roboto-400{
//     font-family: 'Roboto-Regular';
//     font-weight: 400;
// }
//  %robotocondensed-400{
//     font-family: 'RobotoCondensed-Regular';
//     font-weight: 400;
//  }
//  %robotocondensed-700{
//     font-family: 'RobotoCondensed-Bold';
//     font-weight: 700;
//  }